<div class="wrapper {{ isOpen ? 'expendSidebar' : ''}}">
    <div class="pageBreadcreumbTitle">
      <div class="breadcrumbContainer">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Limit Management</a></li>
            <li *ngIf="!this.approverData" class="breadcrumb-item"><a  routerLink="/limit/limitlist/limit-list-data" >Limit List</a></li>
            <li *ngIf="!this.approverData" class="breadcrumb-item active" aria-current="page">Raise A Request</li>
            <li *ngIf="this.approverData" class="breadcrumb-item"><a  routerLink="/limit/limitlist/approver-list-data" >List of Request for Approval</a></li>
            <li *ngIf="this.approverData" class="breadcrumb-item active" aria-current="page">{{this.approverData?.PartnerCode}}</li> 
        </ol>
        </nav>
      </div>
      <div class="pageTitle" *ngIf="!this.approverData">
          <h1>Raise A Request</h1>
      </div>
    </div>

    <!-- 'btn-light': 'btn-dark'  1387659 -->
    <div class="" *ngIf="!this.approverData">
        <div class="themeTabs">
            <button type="button" class="btn {{requestType ? 'themeTabBtn': 'themeTabBtn active'}}" (click)=" individualTab()">
                Individual Partner
            </button>
            <button type="button" *ngIf="!this.approverData" class="btn {{!requestType ? 'themeTabBtn': 'themeTabBtn active'}}" (click)=" bulkTab()">
                Bulk Request
            </button>
        </div>
        <div class="searchContainer"> 
            <div class="row">
                <div class="col-lg-5 col-md-8 col-sm-8 col-xs-12">
                    <form [formGroup]="reqForm">
                        <div  formArrayName="partnerIds">
                            <div class="row position-relative mb-3" *ngFor="let partnerId of partnerIds.controls; let i=index">
                                <div class="col-lg-8 col-md-8 col-sm-8 col-12">
                                    <label class="mb-10" for="partnerId-{{ i }}">Enter a partner code</label>
                                    <input type="text"  id="partnerId-{{ i }}" [formControlName]="i" class="form-control themeTextInput" autocomplete="off" [readonly]="this.approverData ? true : false">
                                    <div class="invalid-feedback" style="display:block;" *ngIf=" submit && partnerIds.controls[i].invalid">
                                     <span *ngIf="partnerIds.controls[i].errors?.['required']">   Please enter partner code.</span>
                                     <span *ngIf="partnerIds.controls[i].errors?.['maxlength']">   Partner code must be less than 15 digits.</span>
 
                                    </div>

                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-2 col-12" *ngIf="requestType">
                                    <div class="bulkPlusDelBtn" >
                                        <div class="plusBtn" *ngIf="(partnerIds.controls.length ==  (i+1)) && i<4" (click)="addPartnerId()">
                                            <img src="../../../../../assets/image/headerClose.svg">
                                        </div>
                                        <div class="deleteBtn" *ngIf="i!=0" (click)="deletePartnerId(i)">
                                            <img src="../../../../../assets/image/delete-icon.svg">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                     
                        <div class="row">
                            <div  class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                <div class="buttonContainer mt-10-576">
                                    <button type="button" class="btn" (click)="raiseAreq()">
                                        Search
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="themeSubTabs" *ngIf="requestarray.length > 0">
        <ul class="nav">
            <li class="nav-item" *ngFor="let item of requestarray; let i=index">
              <a class="nav-link {{currentTab == 'partner'+i ? 'active':'' }} " aria-current="page" href="javascript:void(0)" (click)="changeTab(i)">Partner - {{i+1}}</a>
            </li>
        </ul>
        <div *ngFor="let item of requestarray; let i=index">
            <div *ngIf="currentTab == 'partner'+i">
                <app-limit-deshboard-new partnerCode="{{item}}" approvalData="{{this.approvalDatas}}"   ></app-limit-deshboard-new>
                <!-- <app-limit-dashboard partnerCode="{{item}}"></app-limit-dashboard> -->
                <!-- <app-dummy-daskboard partnerCode="{{item}}"></app-dummy-daskboard> -->
            </div>
        </div>
    </div>
 </div>
