<h1 class="text-left" mat-dialog-title> Logout ?</h1>
<div mat-dialog-content>
  <p >
    Are you sure you want to logout ?
  </p>
</div>

<div class="d-flex justify-content-end"  mat-dialog-actions>
    <button class="modalOkBtn" mat-button (click)="onDismiss()">No</button>
    <button class="modalOkBtn" mat-raised-button  (click)="onConfirm()">Yes</button>
  </div>
<!-- <div class="d-flex justify-content-end" mat-dialog-actions>
  <button class="modalOkBtn" mat-button mat-dialog-close>Ok</button>
</div> -->